<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings configProtectionProvider="DataProtectionConfigurationProvider">
    <EncryptedData>
      <CipherData>
        <CipherValue>AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAAfpK2qnAIc0yIuoxJrsTyAwQAAAACAAAAAAAQZgAAAAEAACAAAAClkbK6rRo88T5GZdsIji+JlWfBxWWC3tu5Q4twwzqcSgAAAAAOgAAAAAIAACAAAABUMQf/fuFZ3lpEes2fgcpxH278Kb7x3ZW2Jn0dmIl5zrABAABt4+l7BVgoRwqCXNsyDdp/IKrx7RA4GaB+DdoDcN7VS9PXZJCERbplTCTOfI6rDbyh7C9ObjasIbifDLv0aTokzJFKkJvyuImkPfrJtlnEDepahf7DlGxBJSyNlPN+gbuasaez+/pu9wmWy6tlR8gKwm6UUNgrrKEtDtBhJjoDx0DuFRpSBOtWUeiCGmfahAqDyxLd1XO8fETntLmn4B46O0OusKgxmmGAaIPP6gQXT0c6iWuOj/i6hCQuFGPZlqS8R3dgGG1oaT7ctJKtMQs8jMaTcIG2D/sw+fwSgt6m9pMlqXUO7olTjthmiDUpFjexDaYUn74OTR9A0FZxEA8tXglEwwlFHdsTDUZrIGGjTa388U3PJozUEa+UENupEtW9M67xdLiwkwwhwpKFOkv2CMAYN3FPaDbb379mxbyjOzfRo7+bUdcx3AHUUYa/RKL/YZoAK6Ubv1ft54vkm0t0Wr+KnVkfwUYFlQFvW5URIioWlcicKBEo1MZ2RbgohXHIxFGXV24T2ta4kNfOusItdHqjnquVkuqzCXl6YGp0vYDmoQr1y2SnZ+ZsCQ0GjA1AAAAA8bwoM1oj/+r6k6m13/6TUamUKjjssY7LNW625v6rxHtEBlJEAdOFtzPz2BC2BMv3zAEEiAY/s+Y1+CuFzrpzTQ==</CipherValue>
      </CipherData>
    </EncryptedData>
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>